body {
  box-sizing: border-box;
  margin: 0;
  background-image: url('../img/sfondo.jpg');
  background-size: cover;
  color: #fff;
}

#container {
  width: 1000px;
  margin: auto;
}

header, nav, main {
  border-bottom: 2px solid lightgrey;
}

header {
  padding: 20px 5px;
}

header > img, header > span, div.email_item > input {
  vertical-align: middle;
}

header > span, footer > span {
  font-size: 24px;
}

nav {
  padding-top: 10px;
}

main {
  padding: 10px 0;
}

h2.unread_counter {
  font-weight: normal;
}

#counter_num {
  background-color: orange;
  padding: .5em;
  border-radius: 50%;
}

div.email_item {
  padding: 2px;
  color: #000;
  font-size: 18px;
  border: 1px solid #000;
}

div.email_item > span {
  color: grey;
}

div.unread {
  background-color: #fff;
}

div.read {
  background-color: lightgrey;
}

footer {
  text-align: center;
  padding-top: 8px;
}

footer > span {
  font-size: 24px;
  font-weight: bold;
}
